:root {
  --primary-color: #5dbe8c;
  --secondary-color: #ffeb5c;
  --black: #000;
  --white: #fff;
  --purple-pink: #cb75bd;
  --grey: #5f6377;
  --light-black: #222222;
  --purple: #5d6cbe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../assets/fonts/ClashDisplay-Variable.woff2")
      format("woff2-variations"),
    url("../assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "ClashDisplay";
}
html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float1 {
  0% {
    transform: traslateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar {
  width: 100%;
  padding: 0 3em;
  background: var(--light-black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    place-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
  }
  ul {
    display: flex;
    gap: 40px;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: var(--white);
        font-size: 15px;
      }
    }
  }
}
.logo {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

// Start of hero section
.hero {
  width: 100%;
  background-color: var(--black);
  .container {
    padding: 8em;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    justify-content: space-between;
    .hero__left {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 1rem;
      .decor__cont {
        flex: 0 0 5rem;
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          display: block;
        }
      }
      .hero__left__content {
        .decorative__bracket {
          color: var(--grey);
          font-size: 50px;
          font-weight: 400;
        }
        h1 {
          line-height: 0.8;
        }
        .i__am__rose {
          font-family: "Corinthia", cursive;
          font-weight: 40;
          font-style: normal;
          color: var(--white);
          font-size: clamp(3.125rem, 8vw, 6.875rem);
        }
        .sharon {
          color: var(--secondary-color);
          font-size: clamp(4.375rem, 12vw, 9.125rem);
          margin: 0;
        }
        .hero_left_text {
          color: var(--white);
          font-size: clamp(1.25rem, 3vw, 2.625rem);
          .bold__green {
            color: var(--primary-color);
            font-weight: 600;
          }
        }
        .hero_left_buttons {
          display: flex;
          gap: 2em;
          align-items: center;
          margin: 1rem 0;
          :hover {
            scale: 1.1;
          }
          a {
            text-decoration: none;
            color: var(--black);
          }
        }
        .hire__me {
          background-color: var(--secondary-color);
          display: flex;
          align-items: center;
          gap: 0.2em;
          padding: 0.8em 1.4em;
          border-radius: 0.2em;
          cursor: pointer;

          .round_arrow {
            width: 1.5em;
          }
        }
        .resume {
          background-color: var(--purple-pink);
          padding: 0.8em 1.4em;
          border-radius: 0.2em;
        }
      }
    }
    .hero__right {
      display: flex;
      flex: 0.5;

      position: relative;
      .graphic_design {
        position: absolute;

        padding: 0.8em 1.5em;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem 0.5rem 0.5rem 0;
        font-size: 1.2em;
        font-weight: 600;
        white-space: nowrap;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        z-index: 10;
        animation: float 4s ease-in-out infinite;

        :hover {
          animation-play-state: paused;
          scale: 1.05;
          cursor: pointer;
        }
      }
      .hero_right_profile_image {
        width: 100%;
        border-radius: 500px 500px 0 0;
        background-color: var(--primary-color);
        position: relative;
        .web {
          bottom: 20%;
          right: 70%;
          animation-delay: 1s;
          animation-duration: 5s;
        }
        .design {
          top: 30%;
          left: 80%;
        }
      }

      .hero_right_profile_image img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
      }
    }
  }
}
// End of hero section

// Start of stats section
.stats__bar {
  width: 100%;
  background-color: var(--primary-color);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
    padding: 3em;
    .exp_stats {
      h2 {
        font-size: clamp(2.25rem, 5vw, 3.625rem);
      }
      p {
        font-size: clamp(1rem, 3vw, 1.625rem);
      }
    }
  }
}
//start of professional journey section
.prof__journey {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  .container {
    display: flex;
    padding: 3em;
    justify-content: space-between;
    gap: 4em;
    max-width: 1200px;
    margin: auto;
    .item_number {
      font-weight: 500;
      padding: 0.5em;
      color: var(--black);
    }
    .journey_item {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1em;
      margin-bottom: 2rem;
      .num1 {
        background-color: var(--purple-pink);
      }
      .num2 {
        background-color: var(--primary-color);
      }
      .num3 {
        background-color: var(--purple);
      }
      .num4 {
        background-color: var(--secondary-color);
      }
    }
    .prof_journey_left {
      flex: 0.2;
      img {
        animation: float1 4s ease-in-out infinite;
      }
    }
    .prof_journey_right {
      flex: 1.4;
      .header__journey {
        h2 {
          font-size: clamp(2.25rem, 5vw, 3.25rem);
        }
        p {
          font-weight: 400;
          font-size: 1.1em;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

// start of experience section
.experience {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0 3em;

  .container {
    max-width: 1400px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;

    h2 {
      font-weight: 600;
      font-size: clamp(2.5em, 5vw, 3.5em);
      text-align: center;
    }
    .experience_text {
      font-size: clamp(1em, 3vw, 1.1em);
      font-weight: 500;
      margin-bottom: 1.5em;
    }
  }

  .firstExperience {
    border: solid 2px var(--secondary-color);
    padding: 1em;
    margin-bottom: 1em;

    .first_exp_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      .header_wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      img {
        width: 5em;
      }
    }
  }
}
//End of experience section

//Start of project section
.project {
  background-color: var(--black);
  width: 100%;
  padding: 2em 3em;

  .container {
    max-width: 1400px;
    margin: auto;
    h2 {
      color: var(--white);
      font-size: clamp(2.5em, 5vw, 3.5em);
      text-align: center;
      span {
        color: var(--primary-color);
      }
    }
    .project_text {
      color: var(--white);
      font-size: clamp(1em, 5vw, 1.1em);
      text-align: center;
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;
      .card {
        border-radius: 2rem;
        width: 546px;
        height: auto;
        background-color: var(--white);
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        margin: 2em 0;
        * {
          margin-top: 1em;
        }
        .project_description {
          text-align: center;
          font-size: clamp(0.8em, 3vw, 1em);
        }
        .view_more {
          background-color: var(--primary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
          border-radius: 0.5rem;
          padding: 1em 3em;
          a {
            text-decoration: none;
            color: var(--white);
            span {
              font-weight: 500;
            }
          }
          img {
            width: 20%;
          }
        }
        .title {
          font-size: clamp(2em, 4vw, 2.2em);
          line-height: 0.6em;
        }
        .image_box {
          width: 100%;
          height: 312px;
          border-radius: 2em;
          background-color: var(--primary-color);
          background-image: url(/assets/Rectangle\ 16.png);
          background-repeat: no-repeat;
        }
      }
    }
  }
}
//End of project section
// start of contact page
.contact {
  background-color: var(--black);
  width: 100%;
  .container {
   
    .form__part {
      background: url(/assets/Rectangle\ 6.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-top: 6em ;
        padding: 0em 4em;
        padding-top: 4em;
      
      
      
      .form_wrapper {
       
        background-color: rgba(255, 255, 255, .2);
        border: solid 1px var(--white);
       margin-top: -100px;
        backdrop-filter: blur(15px);
         padding: 2em 4em;
         flex: 1;
         h3{
          color: var(--white);
          margin: 1em 0;
          font-size: clamp(1.6em, 4vw, 2em);
         }
        form {
          button{
          width: 136px;
          background-color: var(--white);
          color: var(--primary-color);
          cursor: pointer;
          border: none;
          padding: 1em 0;
          font-size: 1.1em;
          display: flex;
          justify-content: center;
          margin: auto;
        }
          input,
          textArea {
            display: block;
            outline: none;
            width: 342px;
            padding: 1em;
            background: transparent;
            color: var(--white);
            margin-bottom: 1em;
            font-size: clamp(1em, 3vw, 1.2em);
            border: solid .2px var(--white);
          }
        }
      }
      .form_part_left{
       
        h4{
           font-size: clamp(2em, 4vw, 2.2em);
         
        }
      }
    }
    .blob {
      width: 100%;
      height: 400px;
      background-color: #55b38a;
      /* top-left, top-right, bottom-right, bottom-left / vertical-values */
      border-radius: 50% 50% 0 0 / 20% 80% 0 0;
    }
    .keynote_box {
      position: relative;
      background-color: var(--primary-color);
      max-width: 980px;
      padding: 2rem;
      text-align: center;
      margin: auto;
      .comment {
        position: absolute;
        top: -2em;
        left: 2rem;
      }
    }
    p {
      font-size: clamp(1em, 5vw, 1.1em);
    }
    h2 {
      color: var(--white);
      font-size: clamp(2.5em, 5vw, 3.5em);
      text-align: center;
      span {
        color: var(--primary-color);
      }
    }
  }
}
// map
.map-section iframe {
  width: 100%;       /* Makes it fill the screen width */
  height: 512px;     /* Set the height you want */
  display: block;    /* Removes any weird gaps at the bottom */
  
}




// start of footer
.footer{
background-color: var(--black);
width: 100%;
.container{
  max-width: 1400px;
  margin:auto;
  padding: 4em 4em;
  .top{
display: flex;
align-items: center;
justify-content: space-between;
    .footer_left{
      h2{
           font-family: "Corinthia", cursive;
           color: white;
           font-size: 2em;
      }
      p{
        color: var(--white);
      }
    }
    .footer_right{
h4{
        font-size: 1.1em;
        font-weight: 500;
        color: white;
      }
      .top_wrapper{
        display: flex;
        h4{
           font-size: clamp(1.5em, 5vw, 2.5em);
           font-weight: 500;
        }
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: white;
          }
        }
      }
      
      .text_on_whats{
        background-color: white;
        
        height: 10px;
      }
    }
  }
}
}
//end of footer




